<h1>Все наши посты</h1>
<% @post.each do |post| %>
    <div class="alert alert-light">
      <h2>Название категории:</h2>
      <h3><%= post.title %></h3>
      <h3>Описание категории:</h3>
      <p3><%= post.text %></p3>
      </p>
      <%= link_to "Показать пост", category_path(post), class: 'btn btn-info' %>
      <%= link_to "Pедактировать", edit_post_path(post), class: 'btn btn-info' %>
      <%= link_to "Удалить", category_path(post), method: :delete, data: {confirm: "Хотите удалить категорию?"}, class: 'btn btn-danger' %>
      </p>
    </div>
    <br>
<% end %>
