<h1>Добавление нового поста</h1>
<%= form_for :post, url: posts_path do |f| %>

    <p>
      Название поста<br>
      <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
      Описание поста<br>
      <%= f.text_area(:text,{:class => 'form-control'})%>
    </p>
    <p>
      <%= f.submit("Сохранить пост",{:class => 'btn btn-info'}) %>
      <%= link_to "Назад", categories_path, :class => 'btn btn-info' %>
    </p>

<% end %>

