<h1> <%= @category.title %></h1>
<p1> <%= @category.text %></p1>
<hr>
<h1>Все наши комментарии</h1>
<% @category.comments.each do |comment| %>
    <div class="alert alert-light">
      <h3><%= comment.title %></h3>
      <p3><%= comment.text %></p3>
    </div>
    <br>
<% end %>

<h2>Комментарии:</h2>
<%= form_for ( [@category, @category.comments.build] ) do |f| %>

    <p>
      Название<br>
      <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
      Текст комментария<br>
      <%= f.text_area(:text,{:class => 'form-control'})%>
    </p>
    <p>

      <%= f.submit("Добавить комментарий", {:class => 'btn btn-info'}) %>
      <%= link_to "Назад", categories_path, :class => 'btn btn-info' %>

    </p>

<% end %>

<h1>Создание нового поста</h1>
<% @category.posts.each do |post| %>
    <div class="alert alert-light">
      <h3><%= post.title %></h3>
      <p3><%= post.text %></p3>
    </div>
    <br>

<% end %>

<%= form_for :post, url: posts_path(@category) do |f| %>

    <p>
      Название поста<br>
      <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
      Описание поста<br>
      <%= f.text_area(:text,{:class => 'form-control'})%>
    </p>
    <p>

      <%= f.submit({:class => 'btn btn-info'}) %>
    </p>
<% end %>